body,*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    background-color:rgba(255, 241,230, 40);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    width: 100%;
    height: 100px;
    background-color:rgba(255, 241,230, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav{
    width: 70%;
    display: flex;
}

header nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header nav ul li a{
    font-size: 20px;
    text-transform:capitalize;
    color:black;
    font-family: sans-serif;
}
.img{
    width: 600px;
    float:left;
    margin:60px 100px 0px 150px
}
.head1{
    font-size: 2.5rem;
    margin-right: 0!important;
    margin-left: 0!important;
}